.n-form-phone.n-form-component {
	.n-form-input-wrapper {
	    display: flex;
	    .n-form-component.phone.n-form-text {
	    	margin-right: 0;
		    margin-left: 1rem;
		    width: 100%;
	    }
	    .countryCode.n-input-combo {
	    	.n-input-combo-input {
	    		margin-bottom: 0;
	    	}
	    	.n-input-combo-dropdown.n-input-combo-dropdown-values {
	    		top: 2.375rem;
	    		max-height: 12rem;
	    		.n-input-combo-dropdown-value {
				    padding: 0.4rem;
	    			display: flex;
	    			align-items: center;
	    			.iti-flag {
	    				margin-right: 0.5rem;
	    			}
	    			.country-code {
	    				margin-left: auto;
	    			}
	    		}
	    	}
	    }
	}
}